{% extends 'base.html' %}

{% block content %}
<header class="main">
    <h1>How to write stories on this site?</h1>
    <font size='5'><h3>See this page to write stories on this site.</h3></font>
</header>
<br />
<p>
    In this site, you can also write you problems, consequences faced and get a way to achieve a goal.

    <ol>
        <li>
            First create an account
        </li>
        <li>
            Next click on the <strong>Hi, (your name)</strong> under the <b>User</b> section.
        </li>
        <li>
            Click on the option <b><u>WRITE STORIES</u></b>.
        </li>
        <li>
            Select the desired type for which you want to write a post.
        </li>
    </ol>
    
    Congratulations, you have created a post.
</p>
{% endblock %}